/* Destination Details Block */

.destination-details-container {
  width: 100%;
}

.destination-details h3, .destination-details p {
    margin: 0;
}

.destination-details h3 {
    font-size: 24px;
    font-weight: 700;
}

.destination-details h4 {
    font-size: 20px;
    margin-bottom: 16px;
}
.destination-details h4 strong {
    font-weight: 700;
}

.destination-details hr {
    border-color: var(--color-border-stroke-default);
}

.destination-details p {
    font-weight: 100;
}


.destination-details ul {
    margin: 0;
}

.destination-details li {
    flex: 0 0 calc(50% - 8px);
}

.destination-details li p {
    font-size: 16px;
}

.destination-details .airport ul {
    display: flex;
    gap: 16px;
}

.destination-details .airport li {
     flex: 0 0 calc(25% - 12px);
}

/* Ensure proper spacing for nested components */
.destination-details-container > * {
  margin: 0;
}

/* Responsive padding adjustments */
@media (max-width: 1024px) {
  .destination-details-container {
    padding: 0;
  }

  .destination-details .airport ul {
      flex-wrap: wrap;
  }
  .destination-details .airport li {
    flex: 0 0 100%;
  }
}
